body
{
	background-color: #00ffcb;
}

#arraybutton
{
	background-color: #9800ff;
	color:#00ffcb;
	font-family: 'Gloria Hallelujah', cursive;
}
#arraytext
{
	color: #9800ff;
	font-family: 'Gloria Hallelujah', cursive;
}

#arraytext2
{
	color: #9800ff;
	font-family: 'Gloria Hallelujah', cursive;
}