body
{
	background-color:#b600ff;
}

#title
{
	background-color:#b600ff;
}

#title1
{
	color:#ff99ff;
	font-family: 'Architects Daughter', cursive;
}

#input
{
	background-color:#b600ff;
}

#PigLatin
{
	color:#ff99ff;
	font-family: 'Architects Daughter', cursive;
}