#redstuff{

color: crimson; 
font-family: arial; 

}

#bluestuff{

color: dodgerblue; 
font-family: verdana; 

}

#div1{
	background-color: black; 
}

#div2{
	background-color: darkred; 
}