body
{
	background-color:#380066;
}

#title
{
	background-color:#380066;
}

#title1
{
	color:#3fff00;
	font-family:trebuchet ms;
}

#input
{
	background-color:#380066;
}

#result
{
	color:#3fff00;
	font-family:trebuchet ms;
}